@page "/StateContainer"

<div>
	<BooksInput />
	<button @onclick="getBooks">Get Books!</button>
	<h3>BookLists (@date)</h3>
	<ul>
		@foreach(var book in books){<li @key="book">@book</li>}
	</ul>
</div>

@inject AppState state;
@code{
	string[] books={};
	DateTime? date=null;

	void getBooks(){
		books=state.books;
		date=state.date;
		StateHasChanged();
	}
}
