@page "/ForEachLoop"

<div>
	@foreach(var (key,isChecked) in dict){
		<div>
			<input id=@key type=checkbox @bind="dict[key]" @key="key">@(""
			)<label for=@key>@key</label>
		</div>
	}
</div>

@code{
	Dictionary<string,bool> dict=new Dictionary<string,bool>{
		{"A",true},
		{"B",true},
		{"C",true},
		{"D",false},
		{"E",false}
	};
}
