@inherits LayoutComponentBase

<main style=display:flex>
	<NavMenu />
	<div class=v-hr></div>
	@Body
</main>

<style>
.v-hr{
	margin: 0 10px;
	border-right: 5px solid #CCC;
	height: 100vh;
}
</style>
