@page "/BindingStyle"

<div>
	<h1>Check: @isChecked</h1>
	<input id=chk type=checkbox @bind="isChecked">@(""
	)<label for=chk>CheckBox</label>
	<div style="color:@(isChecked? "blue": "red")">
		Change Style!
	</div>
</div>

@code{
	bool isChecked=false;
}
