
@page "/BindingInputOneWay"

<div>
	<h1>@title</h1>
	<input value=@title>
</div>

@code{
	string title="Hello Blazor!";

	protected override async Task OnAfterRenderAsync(bool firstRender){
		if(!firstRender) return;
		for(;;){
			await Task.Delay(2000);
			title+=">";
			StateHasChanged();
		}
	}
}
