@page "/EventHandler"

<div>
	<button @onclick="openDialog">Click Me!</button>
</div>

@inject IJSRuntime js

@code{
	string title="Hello Blazor!";

	async void openDialog(){
		await js.InvokeVoidAsync("alert",title);
	}
}
