<div >
	<div><textarea @bind="bookList" id="bookList"></textarea></div>
	<button @onclick="setBooks">Set Books!</button>
</div>

<style>
	#bookList{
		height: 300px;
		width: 300px;
	}
</style>

@inject IJSRuntime js;
@inject AppState state;

@code{
	string bookList=$@"たのしいさんすう
たのしいこくご
たのしいどうとく
かぐやひめ
シンデレラ
うらしまたろう
かちかちやま";

	public void setBooks(){
		state.setBooks(Array.FindAll(bookList.Replace("\r\n","\n").Split(new[]{'\n','\r'}),s=>s!=""));
		state.setDate(DateTime.UtcNow+new TimeSpan(9,0,0));
		js.InvokeVoidAsync("alert","setBooks!");
	}
}
