@page "/UseDOMAPI"

<div>
	<h1>Alert</h1>
</div>

@inject IJSRuntime js;
@code{
	protected override async Task OnAfterRenderAsync(bool firstRender){
		if(!firstRender) return;
		var title=await js.InvokeAsync<string>("eval","document.title");
		await js.InvokeVoidAsync("alert",title);
	}
}
