<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /VueVsBlazor/br/index.html [L]
	AddType application/wasm wasm
</IfModule>
